.ball {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: blue;
    animation-name: jump;
    animation-duration: 0.5s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;
        
        
}

@keyframes jump{
    
    from {
        
        transform: translate3d( 0, 0, 0);
        
    }
    
    to {
        
        transform: translate3d( 0, 200px, 0);
        
    }
}